<section class="container white-text">
  <h1 class="center">Uso de APIs de terceros</h1>
  <h4>Demostraciones</h4>
  <!--Usos de APIs-->
  <div id="api" class="center">
    <h5>Clima en Guanajuato</h5>
    <div class="row">
      <img id="icon" height="100em">
    </div>
    <div class="row">
      <p>Temperatura: <span id="temperature"></span></p>
      <p>Humedad: <span id="humidity"></span></p>
      <p>Ultima actualizacion: <span id="updated"></span></p>
    </div>
    <div class="row">
      <div id="player"></div>
    </div>
  </div>
  <!--Termina usos de APIs-->
  <h4>Preguntas</h4>
  <h6>¿Qué ventajas y desventajas tiene la integración de tus aplicaciones web con servicios web desarrollados por terceros?</h6>
  <p>- Que no volvemos a crear cosas que ya han sido creadas y probablemente vayan a aportar mucho valor a nuestro proyecto.</p>
</section>