        <footer class="page-footer white">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="purple-text">Laboratorio 23</h5>
                <p class="purple-text text-darken-4">Uso de API de APIXU y Youtube</p>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container purple-text text-darken-4">
            © 2019 JavierMacM
            </div>
          </div>
        </footer>
    </body>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script type="text/javascript" src="script.js"></script>
    <script>M.AutoInit()</script>
</html>