<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Laboratorio 23</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body class="purple darken-4">
    <!--Barra de navegacion-->
    <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper white">
            <a href="#" class="brand-logo right purple-text">Lab 23</a>
            <ul class="left hide-on-med-and-down ">
              <li><a href="../index.html " class="purple-text">Otros labs</a></li>
            </ul>
          </div>
        </nav>
    </div>
